.tag-default{
  color:#fff!important;
  font-size:.8rem;
  padding-top:.1rem;
  padding-bottom:.1rem;
  white-space:nowrap;
  margin-right:3px;
  margin-bottom:.2rem;
  display:inline-block
}

.tag-default:hover{
  text-decoration:none
}

.tag-default.tag-outline{
  border:1px solid #ddd;
  color:#aaa!important;
  background:0 0!important
}

ul.tag-list{
  padding-left:0!important;
  display:inline-block;
  list-style:none!important
}

ul.tag-list li{
  display:inline-block!important
}